body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.boardrow:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: rgb(252, 250, 250);
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
  color: black;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: rgb(158, 52, 52);
}

.game {
 
  display: flex;
  flex-direction: row;
}

.gameinfo {
  margin-left: 20px;
}
